.header{
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    height: 120px;
    background-color: #111478;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1 {
    text-align: center;
}