.header{
    position: sticky;
    top:0;
    left:0;
    width: 100%;
    height: 120px;
    background-color: var(--color-primary);
    color: var(--color-text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h1 {
    text-align: center;
    margin: 20px;
    color: var(--color-text);
}

.button {
    margin: 0 10px;
}