.footer {
    width: 100%;
    /* height: 80px; */
    background-color: var(--color-primary);
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.copyright {
    font-size: 1rem;
    color: var(--color-text-light);
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.disclaimer {
    font-size: 1rem;
    color: var(--color-text-light);
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 20px;
}