footer{
    width: 100%;
    height: 80px;
    background-color: var(--color-primary);
    color: var(--color-text-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}