
.section{
    min-height: 33vh;
    width: 33vw;
    margin: 50px;
    color: black;
}

.title{
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}