.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh; 
  width: 100vw;
  margin: 50px 0;
}
.card {
  background: var(--color-primary);
  padding: 2rem;
  border-radius: 12px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: white;
}
.title {
  margin-bottom: 1.5rem;
  color: white;
}