*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

#root {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  color: var(--color-text-main);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  background: linear-gradient(135deg, #fef2f2 0%, #fff 100%);

  flex: 1;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}