*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

#root{
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

body{
  font-family: 'Arial', sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
}

main{
    background-color: var(--color-background);
    
    flex: 1;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}