
main{
    background-color: var(--color-background);
    color: var(--color-text);

    flex: 1;

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container {
    position: relative; 
    width: 100vw;
    height: 600px;     
    overflow: hidden;
}

.heroImage {
    width: 100vw;          
    height: 600px;        
    object-fit: cover;    
    object-position: center;
    display: block;       
}

.ctaOverlay {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    
    z-index: 10;
    width: 90%; 

    display: flex;
    justify-content: center;
    align-items: center;
}